@import "tailwindcss";

:root {
  --header-size: 60px;
  --header-icon-size: 40px;
  --theme-background: #0a0a0a;
  --theme-foreground: #ffffff;
  --theme-colour-primary: #c0fe04; /* Marathon Green */
  --theme-colour-secondary: rgb(237, 106, 136); /* Marathon Pink Cat */
}

@theme inline {
  --color-background: var(--theme-background);
  --color-foreground: var(--theme-foreground);
}

html,
body {
  min-height: 100vh;
  min-width: 100vw;
}

body {
  background: var(--theme-background);
  color: var(--theme-foreground);
  font-family: "Lekton", "IBM Plex Mono", monospace;
}

.header {
  display: flex;
  height: var(--header-size);
  width: 100%;
}

.header .header-icon-container {
  background-color: #c0fe04;
  height: var(--header-size);
  width: var(--header-size);
  padding: calc((var(--header-size) - var(--header-icon-size)) / 2);
}

.header .header-navigation-container {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid white;
  gap: 20px;
}

.header .header-navigation-title {
  font-family: "IBM Plex Mono", monospace;
  font-style: normal;
  font-weight: 400;
  font-size: large;
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  transform: scaleY(1.5);
  display: inline-block;
  transform-origin: center;
  padding-inline: 20px;
}

.nav-item {
  text-transform: uppercase;
}

.nav-item-active,
.nav-item:hover,
.nav-item:active {
  background: var(--theme-colour-primary);
  color: var(--theme-background);
}

.content {
  min-height: calc(100vh - var(--header-size));
  display: grid;
  padding: 2vw;
}

.hero-banner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.countdown-container {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 4vw;
  letter-spacing: 1vw;
  user-select: none;
  text-align: center;
}

.quote-container {
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: max(2vw, 14pt);
  letter-spacing: 1vw;
  user-select: none;
  text-transform: uppercase;
  text-align: right;
  padding-right: 15vw;

  --glitch-flash-distance-x: 2px;
  --glitch-flash-distance-y: 3px;
  --glitch-cut-distance: 1px;
  --glitch-animation-duration-multiplier: 2;
}
